@page "/"

<h1>Dashboard</h1>

Indicadores de seguimiento

<SurveyPrompt Title="TODO" />

<p>Current Count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click Me!</button>
